@use '@angular/material' as mat;
@use './theme-colors' as at-colors;
@use './theme-color-roles' as at-color-roles;
@use './theme-typography' as at-typography;
@use './theme-components' as at-components;

html {
  height: 100%;

  @include mat.theme(
    (
      color: (
        primary: at-colors.$primary-palette,
        tertiary: at-colors.$tertiary-palette,
      ),
      typography: at-typography.$config,
      density: 0,
    )
  );

  @include mat.theme-overrides(at-color-roles.$scheme);
  @include mat.theme-overrides(at-typography.$tokens);
  @include mat.button-overrides(at-typography.$button-tokens);
  @include at-color-roles.product-tokens;
  @include at-components.overrides;
}

body {
  color-scheme: light;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-large);

  margin: 0;
  height: 100%;
}
