at-text-field .mat-mdc-form-field {
  width: 100%;
}

at-text-field .at-text-field__error-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

at-text-field .mat-mdc-form-field-hint-spacer {
  display: none;
}
